<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Habitaciones</title>

    <link rel="stylesheet" href="../recursos/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../recursos/css/estilos.css">

    <script src="../recursos/Jquery/jquery-3.2.1.min.js"></script>
    <script src="../recursos/bootstrap/js/bootstrap.js"></script>

</head>
<body>


    <div class="container">

     <div class="panel panel-default row frmhabit">
                  <div class="">
    <h3 class="text-center"> Registro De Habitaciones</h3>
    <br>
    <br>
   <form >

  <div class="form-group">
    <label for="formGroupExampleInput">Numero</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese Número">
  </div>


  <div class="form-group">
    <label for="exampleSelect1">Piso</label>
    <select class="form-control" id="exampleSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleTextarea">Descripcion</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleTextarea">Caracteristicas</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>


  <div class="form-group">
    <label for="formGroupExampleInput">Precio</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese Precio">
  </div>


  <div class="form-group">
    <label for="exampleSelect1">Estado</label>
    <select class="form-control" id="exampleSelect1">
      <option>Disponible</option>
      <option>Ocupado</option>
      <option>Mantenimiento</option>

    </select>
  </div>

  <div class="form-group">
    <label for="exampleSelect1">Tipo Habitación</label>
    <select class="form-control" id="exampleSelect1">
      <option>Individual</option>
      <option>Matrimonial</option>
      <option>Familiar</option>

    </select>
  </div>
  <br>
  <br>
 <div>
    <button type="submit" class="btn btn-info">Guardar</button>


 </div>

      </form>
     </div>
    </div>
   </div>
  </div>
</body>
</html>
