<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usuarios</title>

    <link rel="stylesheet" href="../recursos/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../recursos/css/estilos.css">

    <script src="../recursos/Jquery/jquery-3.2.1.min.js"></script>
    <script src="../recursos/bootstrap/js/bootstrap.js"></script>

</head>
<body>


    <div class="container">
    <div class="">
     <div class="panel panel-default  row frmtrabajador">
                  <div class="">
    <h3 class="text-center"> Registro De Usuarios</h3>
    <br>
    <br>
   <form >

  <div class="form-group">
    <label for="formGroupExampleInput">Nombre</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese Nombre">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Apellido P</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese A .paterno">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Apellido. M</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese A materno">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Sueldo</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese Sueldo">
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Acceso</label>
    <select class="form-control" id="exampleSelect1">
      <option>Administrador</option>
      <option>Empleado</option>

    </select>
  </div>



  <div class="form-group">
    <label for="formGroupExampleInput">Login</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese usuario">
  </div>

   <div class="form-group">
    <label for="formGroupExampleInput">Password</label>
    <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Ingrese password">
  </div>


  <div class="form-group">
    <label for="exampleSelect1">Estado</label>
    <select class="form-control" id="exampleSelect1">
      <option>A</option>
      <option>D</option>

    </select>
  </div>

  <div class="form-group">
    <label for="exampleSelect1">Tipo Habitación</label>
    <select class="form-control" id="exampleSelect1">
      <option>Individual</option>
      <option>Matrimonial</option>
      <option>Familiar</option>

    </select>
  </div>
  <br>
  <br>
 <div>
    <button type="submit"class="btn btn-info">Guardar</button>


 </div>

      </form>
     </div>
    </div>
   </div>
  </div>
</body>
</html>
